@charset "utf-8";

/*-- Reset --*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {border:0; margin:0; padding:0; line-height:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {display:block;}

* {margin:0px; padding:0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
*:first-child {margin-top:0 !important;}
*:last-child {margin-bottom:0 !important;}

html, body {height:100%; padding:0; margin:0;}
body {min-width:320px; color:#555; font-family:'Open Sans', sans-serif; font-size:14px; font-weight:400; line-height:24px; letter-spacing:0.025em; background:#FFF; position:relative;}

a {color:#195888; border:none; text-decoration:underline; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
a:hover, a:active, a:focus {color:#C70000; border:none; outline:none;}

img {border:none; max-width:100%;}

h1, h2, h3, h4, h5, h6 {margin:35px 0 25px 0; padding:0; color:#195888; font-family:'Open Sans', sans-serif; font-weight:400; position:relative;}

h1 {font-size:30px; line-height:34px;}
h2 {font-size:24px; line-height:28px;}
h3 {font-size:18px; line-height:24px;}
h4 {font-size:16px; line-height:24px;}
h5 {font-size:14px; line-height:24px;}
h6 {font-size:13px; line-height:20px;}

p, ul, ol, blockquote {margin:20px 0; text-align:justify;}

ul, ol {margin-left:40px;}
ul li {margin:10px 0; list-style-type:disc;}
ol li {margin:10px 0; list-style-type:decimal;}

blockquote {padding-left:40px; color:#777; font-style:italic; letter-spacing:0.01em; position:relative;}
blockquote:before {display:block; content:"“"; color:#DDD; font-family:Georgia, "Times New Roman", Times, serif; font-size:70px; line-height:70px; font-style:normal; position:absolute; top:0; left:0;}

strong {color:#222; font-weight:600;}

i {color:#C70000; font-style:normal;}



/*-- Clearfix --*/

.cf:after {height:0; line-height:0; display:block; visibility:hidden; clear:both; content:".";}
.cf {display:block;}
html[xmlns] .cf {display:block;}
* html .cf {height:1%;}



.wrapper {max-width:1170px; margin:0 auto; position:relative;}



/*-- Form --*/

form {border:none; margin:0; padding:0;}

.form-control, .form-btn {width:100%; height:50px; margin:0; color:#222; font-family:'Open Sans', sans-serif; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}

.form-control {padding:0 16px; color:#222; font-size:18px; font-weight:400; line-height:24px; background-color:#FFF; border:1px solid #999; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.form-control.input-error {background-color:#FFEBEB; border-color:#D90000;}
.form-control:focus, .form-control:active {background-color:#FFF; border-color:#222; outline:none;}
.form-control.input-error {background-color:#FFEBEB; border-color:#D90000;}
.form-control[disabled] {background-color:#EEE; border-color:#999; cursor:not-allowed; opacity:1;}

select.form-control {padding:0 28px 0 12px; background-image:url(../img/select.png); background-position:right center; background-repeat:no-repeat; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}
::i-block-chrome,select.form-control {text-indent:9px;}
select.form-control::-ms-expand {display:none;}

textarea.form-control {min-width:100%; max-width:100%; min-height:100px; padding:12px 16px; vertical-align:top;}

.form-error {display:block; padding:4px 14px; color:#FFF; font-size:13px; font-weight:600; line-height:16px; background:#FF4848; position:absolute; top:-22px; left:5px; z-index:100; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}
.form-error:before {display:block; content:""; width:0; height:0; border-style:solid; border-width:5px 4px 0 4px; border-color:#FF4848 transparent transparent transparent; position:absolute; bottom:-5px; left:14px;}

.form-btn {height:auto; padding:10px 20px; color:#FFF; font-size:24px; font-weight:400; line-height:28px; background-color:#C70000; border:none; vertical-align:top; cursor:pointer; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-appearance:none;}
.form-btn:hover, .form-btn:focus, .form-btn:active {background-color:#F00;}
.form-btn:after {display:inline-block; content:""; width:22px; height:14px; margin:8px 0 0 12px; background:url(../img/btn.png) 0 0 no-repeat; vertical-align:top;}

.form .row {margin:0 -5px 16px -5px;}
.form .cell {float:left; width:100%; padding:8px 5px; position:relative;}
.form .btn {padding-top:28px;}

.form.name .cell {width:25%;}
.form.phone .cell, .form.email .cell {width:75%;}
.form.phone .cell.btn, .form.email .cell.btn {width:25%;}
.form.address .cell {width:18.75%;}
.form.address .cell.btn {width:25%;}

.form-label {display:block; margin-bottom:4px; color:#222; font-size:14px; font-weight:600; line-height:16px;}

.input-sm {height:30px; font-size:14px; padding:0 8px;}
select.input-sm {padding-left:4px;}
::i-block-chrome,select.input-sm {text-indent:1px;}



/*-- Buttons --*/

a.btn {display:inline-block; padding:6px 15px; color:#FFF; font-size:14px; font-weight:400; line-height:18px; text-align:center; text-decoration:none; background-color:#C70000; vertical-align:top; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
a.btn:hover, a.btn:focus, a.btn:active {background-color:#F00;}
a.btn.special {background-color:#195888;}
a.btn.special:hover, a.btn.special:focus, a.btn.special:active {background-color:#0075CE;}

a.btn-med {padding:9px 30px; font-size:18px; line-height:22px;}
a.btn-big {padding:11px 50px; font-size:24px; line-height:28px;}

a.btn-med.arw:after {display:inline-block; content:""; width:17px; height:11px; margin:6px 0 0 10px; background:url(../img/btn2.png) 0 0 no-repeat; vertical-align:top;}

a.btn-big.arw:after {display:inline-block; content:""; width:22px; height:14px; margin:8px 0 0 12px; background:url(../img/btn.png) 0 0 no-repeat; vertical-align:top;}



/*-- Header --*/

#header {position:relative; z-index:2;}
#header .wrapper {padding:20px 0; border-bottom:1px solid #195888;}

.site-logo, .site-logo a {display:block; width:288px; height:44px; text-indent:-999em;}
.site-logo {float:left; background:url(../img/logo.png) 0 0 no-repeat; position:relative; z-index:2;}


.hnav {float:right; margin-top:3px; font-size:16px; line-height:18px;}
.hnav ul {margin:0; text-align:left;}
.hnav li {display:block; float:left; margin:0 0 0 1px; list-style-type:none;}
.hnav a {display:block; padding:10px 20px; text-decoration:none; position:relative; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.hnav a:hover, .hnav a:focus, .hnav a:active {background-color:#F5F5F5;}

.slicknav_menu {display:none; margin-top:-15px !important; position:absolute; top:50%; right:30px; z-index:100;}
a.slicknav_btn {display:block; width:30px; height:30px; padding:0; position:relative; background:none !important; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;}
.slicknav_menutxt {display:none;}
.slicknav_icon {display:block; width:30px; height:22px; margin:-11px 0 0 -15px; position:absolute; top:50%; left:50%;}
.slicknav_icon-bar {display:block; height:2px; margin-top:8px; background:#195888; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.slicknav_icon-bar:first-child {margin-top:0;}
a.slicknav_btn:hover .slicknav_icon-bar, a.slicknav_btn.slicknav_open .slicknav_icon-bar {background:#C70000;}
a.slicknav_btn:hover, a.slicknav_btn.slicknav_open {color:#000;}
.slicknav_nav {display:block; width:280px; position:absolute; top:40px; right:0; box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5);}
.slicknav_nav ul {display:block; margin:0; background-color:#FFF;}
.slicknav_nav li {display:block; float:none; margin:0; font-size:14px; font-weight:600; line-height:16px; text-transform:uppercase; border-top:1px solid #CCC; list-style-type:none;}
.slicknav_nav li:first-child {margin:0; border-top:none;}
.slicknav_nav a {display:block; padding:15px 20px; text-decoration:none; background-color:#FFF; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;}
.slicknav_nav a:hover, .slicknav_nav a:focus, .slicknav_nav a:active {background-color:#F5F5F5;}
.slicknav_arrow {display:none;}



/*-- Footer --*/

#footer {margin-top:-1px; position:relative; z-index:0;}
#footer .wrapper {padding:30px 0 60px 0; border-top:1px solid #CCC;}
.fcopy {max-width:940px; min-height:40px; margin:0 auto; padding-left:60px; color:#999; font-size:13px; line-height:20px; position:relative;}
.fcopy strong {font-weight:400;}
.fcopy:before {display:block; content:""; width:41px; height:44px; background:url(../img/logo.png) 0 0 no-repeat; position:absolute; top:-3px; left:0;}



/*-- Content --*/

#container {min-height:100%; position:relative;}

.main {padding:40px 0; position:relative; z-index:1;}

.section {margin:50px 0;}
.block {margin:30px 0;}

.center {text-align:center;}
.warning {color:#C10000;}

.mobile {display:none;}

.page-title {margin:40px 0; font-size:26px; font-weight:600; line-height:30px; text-align:center;}



/*-- Homepage --*/

.intro {margin-top:-1px; padding:120px 0; background:#195888 url(../img/intro_bg.jpg) center center no-repeat; background-size:cover; position:relative; z-index:1;}

.intro-title {margin:40px 0; color:#FFF; font-size:48px; font-weight:600; line-height:52px; text-align:center;}

.intro .form-label {color:#FFF;}
.intro .form-control {border:none;}



.appeal-section {padding:60px 30px; text-align:center; background:#D2EAFC url(../img/appeal_bg.jpg) center 0 no-repeat; background-size:cover; border:1px solid #195888; border-bottom:none; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; border-top-left-radius:3px; border-top-right-radius:3px;}

.appeal-title1, .appeal-title2 {margin:25px 0; font-weight:600;}
.appeal-title1 {font-size:36px; line-height:40px;}
.appeal-title2 {font-size:24px; line-height:28px;}

.hp-content {background:#FFF; border:1px solid #CCC; border-top:none; overflow:hidden; -webkit-border-bottom-right-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-bottomleft:3px; border-bottom-right-radius:3px; border-bottom-left-radius:3px;}

.hp-section {padding:40px 50px; border-top:1px solid #EEE;}
.hp-section:first-child {border-top:none;}
.hp-section.dark {background-color:#F5F5F5;}

.hp-section h2 {margin:30px 0; padding-bottom:15px; font-size:30px; font-weight:600; line-height:34px; text-align:center; border-bottom:1px solid #EEE;}
.hp-section.dark h2 {border-color:#CCC;}

.seen-on h2 {padding-bottom:0; font-size:18px; font-style:italic; line-height:24px; letter-spacing:0.05em; border-bottom:none;}
.seen-on .img img {display:block; margin:0 auto;}
.welcome h2 {font-size:24px; line-height:32px;}
.welcome p {margin:10px 0; font-size:16px; line-height:26px; text-align:center;}

.scholarship {padding:30px 30px; background:#195888; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.scholarship h2, .scholarship p {margin:10px 0;}
.scholarship h2 {padding:0; color:#FFF; font-size:24px; line-height:30px; border-bottom:none;}
.scholarship h2 span {display:inline-block; padding:0 4px; color:#FFF; background:#C70000; vertical-align:top;}
.scholarship p {color:#FFF; font-size:16px; line-height:24px; text-align:center;}
.scholarship p a {display:inline-block; padding:0 5px; color:#C70000; font-weight:600; text-decoration:none; background:#FFF; vertical-align:top;}
.scholarship p a:hover, .scholarship p a:focus, .scholarship p a:active {color:#FFF; background:#C70000;}



.states-list {font-size:14px; line-height:18px;}
.states-list ul {margin:0; text-align:left;}
.states-list ul li {display:block; float:left; width:25%; margin:0; list-style-type:none;}
.states-list a {display:block; padding:11px 10px 11px 40px; text-decoration:none; position:relative;}
.states-list a:hover, .states-list a:focus, .states-list a:active {text-decoration:underline;}
.states-list a:before {display:block; content:""; width:32px; height:32px; background:url(../img/state_seals.png) 0 0 no-repeat; position:absolute; top:4px; left:0;}

.states-list a.al:before {background-position:0 -32px;}
.states-list a.ak:before {background-position:0 -64px;}
.states-list a.az:before {background-position:0 -96px;}
.states-list a.ar:before {background-position:0 -128px;}
.states-list a.ca:before {background-position:0 -160px;}
.states-list a.co:before {background-position:0 -192px;}
.states-list a.ct:before {background-position:0 -224px;}
.states-list a.dc:before {background-position:0 -256px;}
.states-list a.de:before {background-position:0 -288px;}
.states-list a.fl:before {background-position:0 -320px;}
.states-list a.ga:before {background-position:0 -352px;}
.states-list a.hi:before {background-position:0 -384px;}
.states-list a.id:before {background-position:0 -416px;}
.states-list a.il:before {background-position:0 -448px;}
.states-list a.in:before {background-position:0 -480px;}
.states-list a.ia:before {background-position:0 -512px;}
.states-list a.ks:before {background-position:0 -544px;}
.states-list a.ky:before {background-position:0 -576px;}
.states-list a.la:before {background-position:0 -608px;}
.states-list a.me:before {background-position:0 -640px;}
.states-list a.md:before {background-position:0 -672px;}
.states-list a.ma:before {background-position:0 -704px;}
.states-list a.mi:before {background-position:0 -736px;}
.states-list a.mn:before {background-position:0 -768px;}
.states-list a.ms:before {background-position:0 -800px;}
.states-list a.mo:before {background-position:0 -832px;}
.states-list a.mt:before {background-position:0 -864px;}
.states-list a.ne:before {background-position:0 -896px;}
.states-list a.nv:before {background-position:0 -928px;}
.states-list a.nh:before {background-position:0 -960px;}
.states-list a.nj:before {background-position:0 -992px;}
.states-list a.nm:before {background-position:0 -1024px;}
.states-list a.ny:before {background-position:0 -1056px;}
.states-list a.nc:before {background-position:0 -1088px;}
.states-list a.nd:before {background-position:0 -1120px;}
.states-list a.oh:before {background-position:0 -1152px;}
.states-list a.ok:before {background-position:0 -1184px;}
.states-list a.or:before {background-position:0 -1216px;}
.states-list a.pa:before {background-position:0 -1248px;}
.states-list a.ri:before {background-position:0 -1280px;}
.states-list a.sc:before {background-position:0 -1312px;}
.states-list a.sd:before {background-position:0 -1344px;}
.states-list a.tn:before {background-position:0 -1376px;}
.states-list a.tx:before {background-position:0 -1408px;}
.states-list a.ut:before {background-position:0 -1440px;}
.states-list a.vt:before {background-position:0 -1472px;}
.states-list a.va:before {background-position:0 -1504px;}
.states-list a.wa:before {background-position:0 -1536px;}
.states-list a.wv:before {background-position:0 -1568px;}
.states-list a.wi:before {background-position:0 -1600px;}
.states-list a.wy:before {background-position:0 -1632px;}



.news-block {margin:0 -5px;}
.news-block .cell {float:left; width:33.333%; padding:5px;}
.post {padding:25px 30px; background:#FFF; border:1px solid #DDD; position:relative; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.post:before {display:block; content:""; width:20px; height:20px; background:url(../img/corner.png) 0 0 no-repeat; position:absolute; top:-1px; right:-1px;}
.post h3, .post p {margin:15px 0;}
.post h3 {font-size:24px; font-weight:400; line-height:30px;}
.post h3 a {color:#222; text-decoration:none;}
.post p {padding-top:15px; font-size:16px; line-height:26px; border-top:1px solid #DDD;}
.post p.more {text-align:right;}



/*-- Loader --*/

.loader {margin-top:-1px; padding:70px 0; background:#195888 url(../img/intro_bg.jpg) center center no-repeat; background-size:cover; position:relative; z-index:1;}

.loader-container {padding:35px 50px 50px 50px; background:#FFF; position:relative; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.l1-block {margin-top:35px;}

.loader-title {font-size:30px; font-weight:400; line-height:34px; text-align:center;}
.loader-subtitle {margin-top:-10px; color:#222; font-size:18px; font-weight:400; line-height:24px; text-align:center;}

.loader-progress-cont {position:relative;}

.loader-progress {width:100%; height:64px; background:#DDD; overflow:hidden; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}
.loader-progress div {height:64px; background:#3DAD40;}

.loader-mugshots {width:74px; height:74px; background:#FFF url(../img/loader.gif) center center no-repeat; position:absolute; top:-5px; left:-5px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}

.l1-content {float:left; width:100%; margin-right:-340px;}
.l1-content-inn {margin-right:340px; padding-right:50px; position:relative;}
.l1-sidebar {float:right; width:340px; position:relative;}

.l1-title {margin:30px 0 20px 0; color:#222; font-size:24px; font-weight:400; line-height:28px;}

.l1-list {color:#555; font-size:14px; line-height:18px;}
.l1-list ul {display:block; float:left; margin:0; text-align:left;}
.l1-list li {display:block; width: 33.333%; float: left; margin:0; padding:2px 0 2px 24px; list-style-type:none; background:url(../img/checkmark1.png) 0 4px no-repeat; position:relative;}

.loader-circle {display:block; width:16px; height:16px; background:url(../img/loader_circle.gif) 0 0 no-repeat; position:absolute; top:3px; left:-1px;}

.l1-list2 {color:#555; font-size:14px; line-height:18px;}
.l1-list2 ul {margin:0; text-align:left;}
.l1-list2 li {display:block; margin:0; padding:4px 0 4px 24px; list-style-type:none; position:relative;}
.l1-list2 li:before {display:block; content:""; width:16px; height:16px; background:url(../img/l1_icns.png) 0 16px no-repeat; position:absolute; top:5px; left:0;}
.l1-list2 li.icn-01:before {background-position:0 0;}
.l1-list2 li.icn-02:before {background-position:0 -16px;}
.l1-list2 li.icn-03:before {background-position:0 -32px;}

.l1-list3 {font-size:14px; line-height:22px; text-align:center;}
.l1-list3 .cell {float:left; width:33.333%; padding:80px 50px 0 50px; background:url(../img/checkmark_big.png) center 0 no-repeat; position:relative;}

.loader-circle2 {display:block; width:64px; height:64px; margin-left:-32px; background:url(../img/loader_circle2.gif) 0 0 no-repeat; position:absolute; top:0; left:50%;}

.l1-note {width:100%; position:absolute; bottom:-15px; left:0; text-align:center;}
.l1-note span {display:inline-block; padding:5px 15px; color:#FFF; font-size:14px; line-height:20px; background:#3DAD40; position:relative; vertical-align:top; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5);}
.l1-note span:before {display:inline-block; content:""; width:16px; height:14px; margin:3px 8px 0 0; background:url(../img/icn_alert.png) 0 0 no-repeat; vertical-align:top;}
.l1-note span:after {display:block; content:""; width:0; height:0; margin-left:-5px; border-style:solid; border-width:0 5px 7px 5px; border-color:transparent transparent #3DAD40 transparent; position:absolute; top:-7px; left:50%;}



/*-- Results --*/

.results-intro {margin-top:-1px; padding:15px 0; background:#195888 url(../img/results_bg.jpg) center 0 no-repeat; position:relative; z-index:1;}

.ri-table {display:table; width:100%; border-collapse:collapse;}
.ri-table .cell {display:table-cell; vertical-align:middle;}
.ri-table .cell:first-child {padding:20px 50px 20px 0;}
.ri-table .cell:last-child {width:360px;}

.ri-title, .ri-text {margin:20px 0;}
.ri-title {color:#FFF; font-size:30px; font-weight:600; line-height:34px;}
.ri-title:before {display:inline-block; content:""; width:32px; height:32px; margin:1px 12px 0 0; background:#FFF url(../img/checkmark2.png) center center no-repeat; vertical-align:top; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.ri-text {color:#FFF; font-size:16px; line-height:22px;}
.ri-text strong {color:#FFF; font-weight:700;}
.ri-btn {margin-top:25px;}
.ri-btn .btn {box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.7); -webkit-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.7); -moz-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.7);}

.ri-sum {padding:30px 35px; color:#222; font-size:14px; line-height:20px; background:#FFF; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.ri-sum h2 {margin-bottom:15px; padding-bottom:15px; color:#222; font-size:24px; font-weight:600; line-height:28px; border-bottom:1px solid #CCC;}
.ri-sum ul {margin:0; text-align:left;}
.ri-sum li {display:block; margin:4px 0; list-style-type:none;}
.ri-sum li span {color:#195888; font-weight:600;}
.ri-sum li span.special {color:#C70000;}



.results-content {padding:20px 0 40px 0; position:relative; z-index:1;}

.r4-table table {width:100%; color:#555; font-size:14px; line-height:20px; border-collapse:separate; border-spacing:0 10px;}
.r4-table thead tr {background:#222;}
.r4-table th {padding:10px 10px; color:#FFF; font-weight:600; text-align:left; vertical-align:middle;}
.r4-table th:first-child, .r4-table td:first-child {padding-left:30px;}
.r4-table th:last-child, .r4-table td:last-child {padding-right:30px;}

.r4-table tbody tr {margin:10px 0; background:#FFF;}
.r4-table td {padding:20px 10px; vertical-align:middle; border-top:1px solid #CCC; border-bottom:1px solid #CCC; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.r4-table td:first-child {border-left:1px solid #CCC;}
.r4-table td:last-child {border-right:1px solid #CCC;}
.r4-table td.name {font-size:24px; font-weight:600; line-height:26px;}
.r4-table td.name a {text-decoration:none;}
.r4-table td.name span {display:block; color:#777; font-size:12px; font-weight:400; line-height:16px;}
.r4-table td.age {color:#222; font-size:24px; font-weight:600; line-height:26px;}
.r4-table td.button {width:250px;}

.icn-verified {display:inline-block; width:30px; height:40px; background:url(../img/verified.png) 0 0 no-repeat; vertical-align:top;}

.results-note {margin:20px 0; padding-top:10px; color:#222; font-size:14px; line-height:18px;}
.results-note ul {margin:0; text-align:center;}
.results-note li {display:block; margin:10px 0; list-style-type:none;}
.results-note li:before {display:inline-block; content:""; width:16px; height:16px; margin:1px 8px 0 0; background:url(../img/results_icns.png) 0 16px no-repeat; vertical-align:top;}
.results-note li.icn-01:before {background-position:0 0;}
.results-note li.icn-02:before {background-position:0 -16px;}
.results-note i {font-weight:600;}

.results-search {margin-top:30px; color:#222; font-size:24px; line-height:28px; text-align:center;}



/*-- Product Selection --*/

.ps-content {margin:-10px -10px 0 -10px;}
.ps-content .half {width:50%; padding:10px;}
.ps-content .half.lft {float:left;}
.ps-content .half.rgt {float:right;}

.price-box {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.15);}

.pb-header {padding:10px 20px; color:#FFF; font-size:24px; font-weight:600; line-height:28px; text-align:center; text-transform:uppercase; background:#195888; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; border-top-left-radius:3px; border-top-right-radius:3px;}
.pb-header span {font-weight:700;}

.pb-body {border:1px solid #195888; border-top:none; overflow:hidden; -webkit-border-bottom-right-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-bottomleft:3px; border-bottom-right-radius:3px; border-bottom-left-radius:3px;}

.pb-body-top {padding:0 30px 20px 30px; background:#FFF;}

.pb-table {display:table; width:100%; border-collapse:collapse;}
.pb-table .cell {display:table-cell; vertical-align:middle;}
.pb-list {color:#222; font-size:14px; font-weight:600; line-height:18px;}
.pb-list ul {margin:0; text-align:left;}
.pb-list li {display:block; margin:6px 0; padding-left:20px; list-style-type:none; background:url(../img/checkmark3.png) 0 2px no-repeat;}
.pb-price {color:#008A07; font-size:24px; font-weight:700; line-height:28px; text-align:right;}

.pb-btn {margin-top:20px; text-align:center;}

.pb-terms {margin-top:15px;}
.pb-terms label {display:block; padding-left:24px; color:#777; font-size:12px; line-height:16px; text-align:justify; cursor:pointer; position:relative;}
.pb-terms input[type=checkbox] {display:none;}
.pb-terms input[type=checkbox] + label:before {display:block; content:""; width:12px; height:12px; margin:0; background:#FFF url(../img/ps_checkbox.png) center center no-repeat; background-size:0px 0px; border:1px solid #999; position:absolute; top:1px; left:0; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; transition:all 0.1s ease; -webkit-transition:all 0.1s ease; -moz-transition:all 0.1s ease; -o-transition:all 0.1s ease;}
.pb-terms input[type=checkbox]:checked + label:before {background-size:8px 8px;}

.pb-secure {padding:20px 30px 25px 30px; background:#EEE;}

.pb-secure-title {color:#222; font-size:14px; font-weight:600; line-height:18px; text-align:center; text-transform:uppercase;}
.pb-secure-title:before {display:inline-block; content:""; width:12px; height:16px; margin:1px 8px 0 0; background:url(../img/ps_secure.png) 0 0 no-repeat; vertical-align:top;}
.pb-secure-text {margin-top:10px; color:#555; font-size:12px; line-height:16px; text-align:justify;}

.pb-partners {margin-top:10px;}
.pb-partners img {display:block; margin:0 auto;}

.ps-block {padding:25px 30px 30px 30px; background:#FFF; border:1px solid #CCC; overflow:hidden; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.ps-block-title {margin:25px 0; padding-bottom:15px; color:#222; font-size:20px; font-weight:400; line-height:24px; border-bottom:1px solid #CCC;}

.ps-sum {padding:5px 0 25px 0;}
.ps-sum-table {display:table; width:100%; border-collapse:collapse;}
.ps-sum-table .cell {display:table-cell; vertical-align:top;}
.ps-sum-photo {width:80px;}
.ps-sum-photo img {display:block; margin:0 auto;}
.ps-sum-info {padding-left:30px;}
.ps-sum-name {color:#195888; font-size:24px; line-height:28px;}
.ps-sum-list {margin-top:15px; color:#777; font-size:14px; line-height:18px;}
.ps-sum-list ul {margin:10px 0 0 0; padding-top:10px; text-align:left; border-top:1px solid #CCC;}
.ps-sum-list ul:first-child {margin:0; padding-top:0; border-top:none;}
.ps-sum-list li {display:block; margin:4px 0; list-style-type:none;}
.ps-sum-list span, .ps-sum-list i {font-weight:600;}

.ps-map {height:300px; margin:0 -30px -30px -30px !important; background:#EEE; border-top:1px solid #CCC;}
#map_canvas {height: 100%;}

.ps-incs {color:#555; font-size:13px; line-height:16px;}
.ps-incs ul {margin:0; text-align:left;}
.ps-incs li {display:block; float:left; width:50%; margin:0; padding:2px 10px 2px 17px; background:url(../img/checkmark4.png) 0 3px no-repeat;}

.ps-faq {margin:22px 0; padding:22px 0 0 44px; color:#555; font-size:13px; line-height:18px; position:relative; border-top:1px dashed #CCC;}
.ps-faq:first-child {padding-top:0; border-top:none;}
.ps-faq h4, .ps-faq p {margin:10px 0;}
.ps-faq h4 {min-height:32px; padding-top:6px; font-size:16px; font-weight:400; line-height:20px;}
.ps-faq h4:before {display:block; content:""; width:32px; height:32px; background:#195888 url(../img/icn_info.png) center center no-repeat; position:absolute; top:0; left:-44px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}

.ps-reviews {margin:30px 0; color:#777; font-size:13px; font-style:italic; line-height:20px; letter-spacing:0.05em; text-align:justify;}
.ps-review {padding:20px 30px; background:#E5E5E5; position:relative; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.ps-review:before {display:block; content:""; width:0; height:0; border-style:solid; border-width:10px 10px 0 0; border-color:#E5E5E5 transparent transparent transparent; position:absolute; bottom:-10px; left:30px;}
.ps-author {margin:12px 0 0 30px; color:#222; font-weight:600;}
.ps-author:after {display:inline-block; content:""; width:64px; height:12px; margin:3px 0 0 7px; background:url(../img/ps_stars.png) 0 0 no-repeat; vertical-align:top;}

.slick-prev, .slick-next {display:none !important;}

.ps-option {border-bottom:1px dashed #DDD;}
.ps-option label {display:block; margin:0; padding:26px 0 26px 34px; position:relative; cursor:pointer;}
.ps-option input[type=radio] {display:none;}
.ps-option input[type=radio] + label:before {display:block; content:""; width:14px; height:14px; background:#FFF; border:1px solid #777; position:absolute; top:29px; left:0; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.ps-option input[type=radio] + label:hover:before, .ps-option input[type=radio]:checked + label:before {}
.ps-option input[type=radio] + label:after {display:block; content:""; width:0px; height:0px; background:#195888; position:absolute; top:34px; left:5px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.ps-option input[type=radio]:checked + label:after {width:6px; height:6px;}
.ps-option-table {display:table; width:100%; border-collapse:collapse;}
.ps-option-cell {display:table-cell; padding:0 10px; vertical-align:top;}
.ps-option-cell:first-child {padding-left:0;}
.ps-option-cell:last-child {padding-right:0; text-align:right;}
.ps-option-title, .ps-option-price {display:block; color:#195888; font-size:18px; font-weight:600; line-height:22px;}
.ps-option-price {color:#C70000;}
.ps-option-info, .ps-option-terms {display:block; margin-top:8px; color:#555; font-size:14px; line-height:18px;}
.ps-option-price, .ps-option-terms {white-space:nowrap;}
.ps-option-best {display:inline-block; padding:4px 12px; margin-left:5px; color:#FFF; font-size:11px; font-weight:600; line-height:12px; text-align:center; background:#3DAD40; vertical-align:top; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}

.ps-verified {margin-top:20px; padding:25px 50px 25px 170px; color:#222; font-size:13px; font-style:italic; line-height:18px; text-align:center; background:#FFF url(../img/ps_mugshots.jpg) center center no-repeat; background-size:cover; border:1px solid #CCC; position:relative; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.ps-verified:before {display:block; content:""; width:120px; height:102px; margin-top:-51px; background:url(../img/ps_stamp.png) 0 0 no-repeat; background-size:120px 102px; position:absolute; top:50%; left:15px;}

input.error[type^="text"], textarea.error {
    background-color: #ffdbdb;
    border-color: #ea2525;
    box-shadow: 0 0 5px 0 rgba(234, 37, 37, 0.75);
}

input[type^="text"] {
    text-transform: capitalize;
}

/*-- Nohit --*/

.nohit2 {padding:30px 0;}

.nohit2 * {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.nohit2 *:first-child {margin-top:0 !important;}
.nohit2 *:last-child {margin-bottom:0 !important;}

.nohit2-header {padding:16px 20px; color:#FFF; font-size:18px; font-weight:600; line-height:20px; text-align:center; background:#195888; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;}

.nohit2-body {padding:35px 50px 50px 50px; background:#FFF; border:1px solid #CCC; border-top:none; position:relative; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:5px; -moz-border-radius-bottomright:5px; -moz-border-radius-bottomleft:5px; border-bottom-right-radius:5px; border-bottom-left-radius:5px;}
.nohit2-body:before {display:block; content:""; width:114px; height:114px; background:url(../img/nh2_offer.png) 0 0 no-repeat; position:absolute; top:0; right:-1px;}

.nohit2-title {margin:35px 0; font-size:26px; font-weight:600; line-height:30px;}

.nohit2-container {margin:35px 0;}

.nohit2-content {float:left; width:100%; margin-right:-430px;}
.nohit2-content-inn {margin-right:430px; padding-right:50px; position:relative;}
.nohit2-sidebar {float:right; width:430px; position:relative;}

.nohit2-record {margin:15px 0; padding-left:50px; color:#333; font-size:14px; line-height:20px; position:relative;}
.nohit2-record:before {display:block; content:""; width:32px; height:32px; background:url(../img/nh2_icns_records.png) 0 0 no-repeat; position:absolute; top:0; left:0; opacity:0.2;}
.nohit2-record.icn-01:before {background-position:0 0;}
.nohit2-record.icn-02:before {background-position:0 -32px;}
.nohit2-record.icn-03:before {background-position:0 -64px;}
.nohit2-record.icn-04:before {background-position:0 -96px;}
.nohit2-record.icn-05:before {background-position:0 -128px;}
.nohit2-record h3 {margin:0; font-size:16px; font-weight:600; line-height:24px;}
.nohit2-record p {margin:0; text-align:left;}

.nohit2-report {height:285px; margin:0 auto; background:url(../img/nh2_report.png) center 0 no-repeat; position:relative;}

.nohit2-btn-block .btn {display:block;}



/*-- Lightbox --*/

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxOverlay{background:#000;}
#cboxLoadedContent{margin-top:0;}
#cboxTitle{position:absolute; top:7px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; top:7px; left:58px; color:#949494;}
#cboxClose{position:absolute; top:20px; right:10px; background:url(../img/x.png) 0 0 no-repeat; width:10px; height:10px; text-indent:-999em; opacity:0.2; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
#cboxClose:hover {opacity:1;}



/*-- Exit Lightbox --*/

.lightbox2 {width:800px; margin:10px auto !important; left: 50%; position: absolute; top: 20px; transform: translateX(-50%); z-index: 99999; display: none;}

.lightbox2-content {padding:40px 50px 50px 50px; background:#FFF; position:relative; overflow:hidden; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.lb2-reports {display:block; width:282px; height:180px; background:url(../img/lb2_reports.png) 0 0 no-repeat; position:absolute; bottom:0; left:-60px; z-index:100;}
.lb2-reports.lb2-reports-no {height:156px;}

h2.lb2-title {margin:15px 0; font-size:30px; font-weight:600; line-height:32px; text-align:center;}
h3.lb2-subtitle {margin:15px 0; color:#555; font-size:24px; font-weight:400; line-height:26px; text-align:center;}
h3.lb2-subtitle span {text-decoration:underline;}

.lb2-btns {display:table; width:100%; max-width:400px; margin:40px auto; text-align:center; border-collapse:collapse; table-layout:fixed;}
.lb2-btns .lb2-cell {display:table-cell; padding:0 5px; vertical-align:middle;}
.lb2-btns .lb2-cell:first-child {padding-left:0;}
.lb2-btns .lb2-cell:last-child {padding-right:0;}

.lb2-btn-block {margin:40px 0 0 0; position:relative;}
.lb2-btn-block:before {display:block; content:""; width:93px; height:60px; background:url(../img/lb2_arw.png) 0 0 no-repeat; position:absolute; top:-35px; right:60px;}
.lb2-btn-block .btn {display:block; padding:16px 30px; font-size:36px; font-weight:700; line-height:38px;}

.lb2-limited {max-width:400px; min-height:36px; margin:15px auto; padding-left:44px; color:#999; font-size:14px; line-height:18px; position:relative;}
.lb2-limited:before {display:block; content:""; width:32px; height:32px; background:url(../img/lb2_icn_clock.png) 0 0 no-repeat; position:absolute; top:2px; left:0;}

.lb2-warning {margin:15px 0; color:#555; font-size:16px; line-height:26px; text-align:center;}
.lb2-warning:before {display:inline-block; content:""; width:30px; height:26px; margin-right:10px; background:url(../img/lb2_icn_warning.png) 0 0 no-repeat; vertical-align:top;}

.lb2-terms {margin:30px 0 0 0; padding-left:180px; color:#333; font-size:16px; line-height:20px; text-align:center;}
.lb2-terms span {text-decoration:underline;}

.lb2-search {margin:40px -5px;}
.lb2-search .lb2-cell {float:left; width:33.333%; padding:0 5px;}

.lb2-search label {display:block; margin-bottom:5px; color:#333; font-size:14px; font-weight:600; line-height:18px;}

.lb2-btn-block input[type="submit"] {height:70px; font-size:36px; font-weight:700;}
.lb2-btn-block input[type="submit"]:hover, .lb2-btn-block input[type="submit"]:focus, .lb2-btn-block input[type="submit"]:active {background-color:#589D29;}

#exitOverlay, #lightboxOverlay {
    background: rgba(0, 0, 0, 0) url("../img/overlay.png") repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}