/*
	Theme Name: Mocha Child Theme
	Theme URL: http://www.studiopress.com/themes/mocha
	Description: Mocha is a 2 or 3-column Widget-ready child theme created for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com
	Version: 1.0
	
	Template: genesis

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

body {
	background: #F2F0E7 url(images/bg.png) repeat-x;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0 auto 0;
	padding: 0;
	line-height: 20px;
	}
	
/***** Hyperlinks ********************/

a, a:visited {
	color: #993366;
	text-decoration: none;
	}
	
a:hover {
	color: #993366;
	text-decoration: underline;
	}
	
a img {
	border: none;
	}
	
a:focus, a:hover, a:active {
	outline: none;
	}

/***** Wrap ********************/

#wrap {
	margin: 0 auto 0;
	padding: 0;
	}

/***** Header  ********************/

#header {
	width: 960px; 
	height: 125px;
	margin: 0 auto 0;
	padding: 0;
	}
	
#header .wrap {
	}

#title-area {
	width: 450px;
	float: left;
	margin: 0; 
	padding: 40px 0 0 0;
	overflow: hidden;
	}
	
#title-area #title {
	font-size: 30px;
	font-weight: normal;
	line-height: 36px;
	margin: 0; 
	padding: 0;
	}
	
#title-area #title a {
	color: #333333;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	margin: 0; 
	padding: 0;
	text-decoration: none;
	}
	
#title-area #title a:hover {
	color: #333333;
	text-decoration: none;
	}
	
#title-area #description {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0; 
	padding: 0;
	}

#header .widget-area {
	width: 440px;
	float: right;
	margin: 0; 
	padding: 0;
	}
	
#header .widget-area p {
	margin: 0;
	padding: 0 0 5px 0;
	}
	
#header .widget-area h4 {
	font-family: Georgia, Times New Roman, Trebuchet MS;
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0 0 0; 
	padding: 0;
	text-decoration: none;
	}
	
#header .widget-area ul {
	margin: 0;
	padding: 0;
	}
	
#header .widget-area ul li {
	list-style-type: square;
	margin: 0 0 0 20px;
	padding: 0;
	}
	
/***** Image Header - Partial Width ********************/

.header-image #header #title-area {
	background: url(images/logo.png) left top no-repeat;
	}

.header-image #title-area, .header-image #title-area #title, .header-image #title-area #title a {
	display: block; 
	float: left;
	width: 450px;
	height: 125px;
	margin: 0; 
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
	}
	
.header-image #title-area #description {
	display: block;
	width: 0; 
	height: 0;
	overflow: hidden;
	}

/***** Image Header - Full Width ********************/

.header-full-width #title-area, .header-full-width #title-area #title, .header-full-width #title-area #title a {
	width: 960px;
	}
	
/***** Header Right Navigation ********************/

#header ul.nav, #header ul.menu {
	width: auto;
	float: right;
	list-style: none;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	}
	
#header ul.nav li, #header ul.menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#header ul.nav li a, #header ul.nav li a:visited, #header ul.menu li a, #header ul.menu li a:visited {
	background: url(images/nav.png);
	color: #FFFFFF;
	display: block;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 12px;
    margin: 0;
	padding: 11px 15px 9px 15px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	}

#header ul.nav li a:hover, #header ul.nav li a:active, #header ul.nav .current_page_item a, #header ul.nav .current-cat a, #header ul.nav .current-menu-item a, #header ul.menu li a:hover, #header ul.menu li a:active, #header ul.menu .current_page_item a, #header ul.menu .current-cat a, #header ul.menu .current-menu-item a {
	background: url(images/navhov.png);
	color: #FFFFFF;
	}
	
#header ul.nav li a.sf-with-ul, #header ul.menu li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#header ul.nav li a .sf-sub-indicator, #header ul.menu li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 17px;
	right: 5px;
	}
	
#header ul.nav li li a, #header ul.nav li li a:link, #header ul.nav li li a:visited, #header ul.menu li li a, #header ul.menu li li a:link, #header ul.menu li li a:visited {
	width: 138px; 
	font-size: 12px;
	margin: 0;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	text-transform: none;
	position: relative;
	}
	
#header ul.nav li li a:hover, #header ul.nav li li a:active, #header ul.menu li li a:hover, #header ul.menu li li a:active {
	}

#header ul.nav li li a .sf-sub-indicator, #header ul.menu li li a .sf-sub-indicator {
	background: url(images/arrow-right.png);
	top: 10px;
	}

#header ul.nav li ul, #header ul.menu li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0;
	padding: 0;
	}

#header ul.nav li ul a, #header ul.menu li ul a { 
	width: 140px;
	}

#header ul.nav li ul ul, #header ul.menu li ul ul {
	margin: -33px 0 0 159px;
	}

#header ul.nav li:hover ul ul, #header ul.nav li:hover ul ul ul, #header ul.nav li.sfHover ul ul, #header ul.nav li.sfHover ul ul ul, #header ul.menu li:hover ul ul, #header ul.menu li:hover ul ul ul, #header ul.menu li.sfHover ul ul, #header ul.menu li.sfHover ul ul ul {
	left: -999em;
	}

#header ul.nav li:hover ul, #header ul.nav li li:hover ul, #header ul.nav li li li:hover ul, #header ul.nav li.sfHover ul, #header ul.nav li li.sfHover ul, #header ul.nav li li li.sfHover ul, #header ul.menu li:hover ul, #header ul.menu li li:hover ul, #header ul.menu li li li:hover ul, #header ul.menu li.sfHover ul, #header ul.menu li li.sfHover ul, #header ul.menu li li li.sfHover ul {
	left: auto;
	}

#header ul.nav li:hover, #header ul.nav li.sfHover, #header ul.menu li:hover, #header ul.menu li.sfHover { 
	position: static;
	}

/***** Nav Menu ********************/

#nav {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(images/navbar.png);
	color: #FFFFFF;
	margin: 0 auto 0;
	padding: 20px 0 0 0;
	}

#nav .wrap {
	width: 920px;
	height: 45px;
	background: url(images/nav.png);
	margin: 0 auto 0;	
	padding: 0;
	}
	
#nav ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#nav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#nav li a {
	background: url(images/nav.png);
	color: #FFFFFF;
	display: block;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 12px;
    margin: 0;
	padding: 13px 15px 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	}

#nav li a:hover, #nav li a:active, #nav .current_page_item a {
	background: url(images/navhov.png);
	color: #FFFFFF;
	}
	
#nav li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#nav li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 19px;
	right: 5px;
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
	color: #FFFFFF;
	font-size: 12px;
	width: 138px; 
	margin: 0;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	text-transform: none;
	position: relative;
	}
	
#nav li li a:hover, #nav li li a:active {
	}

#nav li li a .sf-sub-indicator {
	background: url(images/arrow-right.png);
	top: 10px;
	}

#nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0;
	padding: 0;
	}

#nav li ul a { 
	width: 140px;
	}

#nav li ul a:hover, #nav li ul a:active { 
	}

#nav li ul ul {
	margin: -33px 0 0 159px;
	}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul {
	left: -999em;
	}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfHover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul {
	left: auto;
	}

#nav li:hover, #nav li.sfHover { 
	position: static;
	}
	
#nav li.right {
	float: right;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 12px;
	margin: 0;
	padding: 13px 15px 12px 15px;
	text-transform: uppercase;
	}

#nav li.right a {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	}
	
#nav li.right a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
#nav li.date {
	}
	
#nav li.rss a {
	background: url(images/rss.png) no-repeat left center;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	margin: 0 0 0 10px;
	padding: 3px 0 3px 16px;
	}
	
#nav li.search {
	padding: 0 10px 0 10px;
	}
	
#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat left center;
	padding: 3px 0 1px 20px;
	}
	
/***** SubNav Menu ********************/

#subnav {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(images/subnavbar.png);
	color: #FFFFFF;
	margin: 0 auto 0;
	padding: 0;
	}

#subnav .wrap {
	width: 920px;
	height: 45px;
	background: url(images/nav.png);
	margin: 0 auto 0;	
	padding: 0;
	}
	
#subnav ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#subnav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#subnav li a {
	background: url(images/nav.png);
	color: #FFFFFF;
	display: block;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 12px;
    margin: 0;
	padding: 13px 15px 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	}

#subnav li a:hover, #subnav li a:active, #subnav .current_page_item a {
	background: url(images/navhov.png);
	color: #FFFFFF;
	}
	
#subnav li a.sf-with-ul {
	padding-right: 20px;
	}	
	
#subnav li a .sf-sub-indicator {
	background: url(images/arrow-down.png);
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 19px;
	right: 5px;
	}
	
#subnav li li a, #subnav li li a:link, #subnav li li a:visited {
	color: #FFFFFF;
	font-size: 12px;
	width: 138px; 
	margin: 0;
	padding: 6px 10px 6px 10px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	text-transform: none;
	position: relative;
	}
	
#subnav li li a:hover, #subnav li li a:active {
	}

#subnav li li a .sf-sub-indicator {
	top: 10px;
	background: url(images/arrow-right.png);
	}

#subnav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0;
	padding: 0;
	}

#subnav li ul a { 
	width: 140px;
	}

#subnav li ul a:hover, #subnav li ul a:active { 
	}

#subnav li ul ul {
	margin: -33px 0 0 159px;
	}

#subnav li:hover ul ul, #subnav li:hover ul ul ul, #subnav li.sfHover ul ul, #subnav li.sfHover ul ul ul {
	left: -999em;
	}

#subnav li:hover ul, #subnav li li:hover ul, #subnav li li li:hover ul, #subnav li.sfHover ul, #subnav li li.sfHover ul, #subnav li li li.sfHover ul {
	left: auto;
	}

#subnav li:hover, #subnav li.sfHover { 
	position: static;
	}

/***** Inner ********************/

#inner {
	background: url(images/inner.png);
	width: 920px;
	margin: 0 auto 0;
	padding: 20px 20px 0 20px;
	overflow: hidden;
	}
	
/***** Inner Backgrounds ********************/

.content-sidebar #inner {
	background: url(images/inner_cs.png);
    }
   
.sidebar-content #inner {
	background: url(images/inner_sc.png);
    }
   
.content-sidebar-sidebar #inner {
	background: url(images/inner_css.png);
    }
   
.sidebar-sidebar-content #inner {
	background: url(images/inner_ssc.png);
    }
    
.sidebar-content-sidebar #inner {
	background: url(images/inner_scs.png);
    }

.full-width-content #inner {
	background: url(images/inner.png);
    }

/***** Breadcrumb ********************/

.breadcrumb {
	background: #F7F7F7;
	margin: 0 0 30px 0;
	padding: 5px 10px 5px 10px;
	border: 1px solid #E6E6E6;
	}
	
/***** Taxonomy Description ********************/

.taxonomy-description {
	background: #F7F7F7;
	margin: 0 0 30px 0;
	padding: 10px;
	border: 1px solid #E6E6E6;
	}
	
#content .taxonomy-description p {
	margin: 0;
	padding: 0;
	}

/***** Content-Sidebar Wrapper ********************/

#content-sidebar-wrap {
	width: 745px;
	margin: 0;
	padding: 0;
	float: left;
	}

.sidebar-content #content-sidebar-wrap, .content-sidebar #content-sidebar-wrap {
	width: 920px;
	}

.sidebar-sidebar-content #content-sidebar-wrap, .sidebar-content-sidebar #content-sidebar-wrap {
	float: right;
	}

.full-width-content #content-sidebar-wrap {
	width: 920px;
	}

/***** Content ********************/

#content {
	width: 490px;
	margin: 0;
	padding: 0 20px 10px 10px;
	float: left;
	}

.sidebar-content #content, .sidebar-sidebar-content #content {
	float: right;
	}

.sidebar-content #content, .content-sidebar #content {
	width: 665px;
	}
	
.full-width-content #content {
	width: 900px;
	}

#content img, #content p img {
	max-width: 100%;
	}

#content blockquote {
	background: #F7F7F7;
	margin: 0 15px 15px 15px;
	padding: 10px 20px 0 15px;
	border: 1px solid #E6E6E6;
	}

#content .post {
	margin: 0 0 40px 0;
	padding: 0;
	}
	
#content .post p {
	margin: 0;
	padding: 0 0 10px 0;
	}
	
#content .post p img {
	border: 5px solid #ECEADF;
	}
	
#content .post ul, #content .page ul {
	list-style-type: square;
	margin: 0;
	padding: 0 0 15px 0;
	}
	
#content .post ul li, #content .page ul li {
	list-style-type: square;
	margin: 0 0 0 20px;
	padding: 0;
	}
	
#content .post ul ul, #content .page ul ul {
	list-style-type: square;
	margin: 0;
	padding: 0;
	}
	
#content .post ol, #content .page ol {
	margin: 0;
	padding: 0 0 15px 0;
	}
	
#content .post ol li, #content .page ol li {
	margin: 0 0 0 20px;
	padding: 0;
	}
	
#content .post ol ol, #content .page ol ol {
	margin: 0;
	padding: 0;
	}

#content .entry-content .post-image {
	padding: 4px;
	border: 1px solid #E6E6E6;
	}
	
#content .sticky {
	background: #F7F7F7;
	margin: 0 0 40px 0;
	padding: 10px;
	border: 1px solid #E6E6E6;
	}
	
#content .post-image {
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
	}
	
#content .archive-page {
	float: left;
	width: 50%;
	margin: 0;
	padding: 20px 0 0 0;
	}

.clear {
	clear: both;
	}
	
/***** Post Info ********************/
	
.post-info {
	color: #666666;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 14px;
	font-style: italic;
	margin: 0 0 5px 0;
	padding: 0;
	text-align: center;
	}
	
.post-info p {
	margin: 0;
	padding: 0;
	}
	
/***** Post Meta ********************/
	
.post-meta {
	font-size: 12px;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-style: italic;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: center;
	border-top: 1px dotted #CCCCCC;
    clear: both;
	}
	
/***** Author Box ********************/
	
.author-box {
	background: #F7F7F7;
	margin: 0 0 40px 0;
	padding: 10px;
	border: 1px solid #E6E6E6;
	overflow: hidden;
	}
	
.author-box p {
	margin: 0;
	padding: 0;
	}
	
.author-box img {
	background: #FFFFFF;
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
	}

/***** Headlines in Content ********************/

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	color: #333333;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-weight: normal;
	text-decoration: none;
	margin: 0 0 5px 0;
	padding: 0;
	}

#content h1 {
	font-size: 22px;
	text-align: center;
	}
	
#content h2 {
	font-size: 20px;
	text-align: center;
	}
	
#content h2 a, #content h2 a:visited {
	color: #333333;
	text-decoration: none;
	}
	
#content h2 a:hover {
	color: #993366;
	text-decoration: none;
	}
	
#content h3 {
	font-size: 18px;
	}
	
#content h4 {
	font-size: 16px;
	}
	
#content h5 {
	font-size: 14px;
	}
	
#content h6 {
	font-size: 12px;
	}
	
/***** Post Icons ********************/
	
.time {
	background: #FFFFFF url(images/icon-time.gif) no-repeat top left;
	margin: 0 0 0 3px;
	padding: 0 0 2px 20px;
	}
	
.post-comments {
	background: #FFFFFF url(images/icon-comments.gif) no-repeat top left;
	margin: 0 0 0 3px;
	padding: 0 0 2px 20px;
	}
	
.categories {
	background: #FFFFFF url(images/icon-time.gif) no-repeat top left;
	margin: 0 0 0 3px;
	padding: 0 0 2px 20px;
	}
	
.tags {
	background: #FFFFFF url(images/icon-tags.gif) no-repeat top left;
	margin: 0 0 0 3px;
	padding: 0 0 2px 20px;
	}

/***** Images ********************/

img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0;
	}
	
img.alignnone {
	padding: 0;
	margin: 0 0 10px 0;
	display: inline;
	}
	
img.alignleft {
	padding: 0;
	margin: 0 10px 10px 0;
	display: inline;
	}

img.alignright {
	padding: 0;
	margin: 0 0 10px 10px;
	display: inline;
	}
	
.aligncenter {
	display: block;
	margin: 0 auto 10px;
	}
	
.alignleft {
	float: left;
	margin: 0 10px 0 0;
	}

.alignright {
	float: right;
	margin: 0 0 0 10px;
	}

.wp-caption {
	background: #F7F7F7;
	text-align: center;
	padding: 5px 0 0 1px;
	border: 1px solid #E6E6E6;
	}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0;
	}

.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	}
	
img.wp-smiley, img.wp-wink {
	float: none;
	border: none;
	margin: 0;
	padding: 0;
	}
	
/***** Post Navigation ********************/

.navigation {
	width: 100%;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	margin: 0;
	padding: 20px 0 20px 0;
	overflow: hidden;
	}
	
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.navigation li {
	display: inline;
	}

.navigation li a {
	color: #993366;
	padding: 5px 8px 5px 8px;
	border: 1px solid #E6E6E6;
	}

.navigation li a:hover {
	background: #993366;
	color: #FFFFFF;
	border: 1px solid #E6E6E6;
	text-decoration: none;
	}

.navigation li.disabled {
	margin: 0;
	padding: 5px 8px 5px 8px;
	border: 1px solid #E6E6E6;
	}

.navigation li.active a {
	background: #993366;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #E6E6E6;
	}

/***** Primary & Secondary Sidebars ********************/

#sidebar {
	width: 195px;
	float: right;
	margin: 0;
	padding: 0 10px 0 10px;
	display: inline;
	overflow: hidden;
	}
	
#sidebar-alt {
	width: 135px;
	float: left;
	margin: 0;
	padding: 0 10px 0px 10px;
	display: inline;
	overflow: hidden;
	}
	
.sidebar-content #sidebar, .sidebar-sidebar-content #sidebar {
	float: left;
	}
	
.content-sidebar-sidebar #sidebar-alt {
	float: right;
	}

#sidebar .widget, #sidebar-alt .widget {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	}
	
#sidebar h2, #sidebar h2 a, #sidebar-alt h2, #sidebar-alt h2 a {
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}
	
#sidebar h2 a:hover, #sidebar-alt h2 a:hover {
	color: #993366;
	text-decoration: none;
	}

#sidebar h4, #sidebar-alt h4 {
	color: #333333;
	font-size: 16px;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-weight: normal;
    margin: 0 0 3px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #CCCCCC;
	}
	
#sidebar .widget p, #sidebar-alt .widget p {
	margin: 0;
	padding: 0 0 10px 0;
	}

#sidebar img, #sidebar a img, #sidebar-alt img, #sidebar-alt a img {
	margin: 0;
	padding: 0;
	}
	
#sidebar-alt a img {
	margin: 0 0 5px 0;
	padding: 4px;
	border: 1px solid #ECEADF;
	}
	
#sidebar-alt a:hover img {
	background: #ECEADF;
	margin: 0 0 5px 0;
	padding: 4px;
	border: 1px solid #ECEADF;
	}

#sidebar ul, #sidebar ol, #sidebar-alt ul, #sidebar-alt ol  {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
	}

#sidebar ul ul, #sidebar ol ol, #sidebar-alt ul ul, #sidebar-alt ol ol {
	margin: 0;
	padding: 0 0 0 15px;
	}

#sidebar li, #sidebar-alt li {
	background: url(images/arrow.png) no-repeat top left;
	padding: 0 0 3px 12px;
	margin: 0 0 3px 0;
	border-bottom: 1px dotted #CCCCCC;
 	word-wrap: break-word;
	}

/***** Sidebar(s) Tag Cloud ********************/

#sidebar .widget_tag_cloud div, #sidebar-alt .widget_tag_cloud div {
	padding: 10px 10px 5px 10px;
	}
	
/***** Sidebar(s) Category Dropdown ********************/
	
#cat {
	background: #F7F7F7;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 10px 0 0 10px;
	padding: 3px;
	display: inline;
	border: 1px solid #E6E6E6;
	}
	
#sidebar #cat {
	width: 198px;
	}
	
#sidebar-alt #cat {
	width: 148px;
	}

/***** Sidebar(s) Featured Post/Page ********************/

#sidebar .featuredpost, #sidebar .featuredpage, #sidebar-alt .featuredpost, #sidebar-alt .featuredpage {
	margin: 0 0 15px 0;
	padding: 0;
	clear: both;
	}
	
#sidebar .featuredpost .post, #sidebar .featuredpage .page, #sidebar-alt .featuredpost .post, #sidebar-alt .featuredpage .page {
	margin: 0;
	padding: 10px 0 0 0;
	clear: both;
	}
	
#sidebar .featuredpost .avatar, #sidebar .featuredpage .avatar, #sidebar-alt .featuredpost .avatar, #sidebar-alt .featuredpage .avatar {
	margin: 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
	}

/***** Sidebar(s) User Profile ********************/

#sidebar .user-profile , #sidebar-alt .user-profile {
	overflow: hidden;
	}

#sidebar .user-profile .avatar, #sidebar-alt .user-profile .avatar {
	background: #F7F7F7;
	float: left;
	margin: 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
	}

#sidebar .user-profile .posts_link, #sidebar-alt .user-profile .posts_link {
	margin: 0;
	padding: 0 0 10px 10px;
	}
	
/***** Search Form(s) ********************/

.searchform {
	margin: 0;
	}

#header .searchform {
	float: right;
	padding: 50px 10px 0 0;
	}
	
#sidebar .searchform {
	padding: 5px 0 0 0;
	}
	
#nav .searchform {
	float: right;
	padding: 5px 0 0 0;
	}
	
.s {
	color: #666666;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-size: 12px;
	margin: 5px 5px 0 0;
	padding: 4px 0 4px 5px;
	border: 1px solid #E6E6E6;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
#header .s {
	background: #FFFFFF !important;
	width: 240px;
	}
	
#nav .s {
	background: #FFFFFF !important;
	width: 165px;
	}
	
#sidebar .s {
	background: #FFFFFF !important;
	width: 110px;
	}
	
#sidebar-alt .s {
	width: 80px;
	}

.searchsubmit {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 2px 5px 2px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.searchsubmit:hover {
	background: #993366;
	border: 1px solid #993366;
	}
	
/***** eNews & Updates Widget ********************/

.enews {
	background: url(images/enews.png) top right no-repeat;
	margin: 0;
	padding: 0;
	}

.enews #subscribe {
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
	
#sidebar .enews #subscribe {
	padding: 0;
	}
	
.enews #subbox {
	background: #FFFFFF !important;
	width: 140px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	padding: 4px 0 4px 5px;
	margin: 0 5px 0 0;
	border: 1px solid #DDDDDD;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
.enews #subbutton {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 2px 5px 2px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
.enews #subbutton:hover {
	background: #993366;
	border: 1px solid #993366;
	}

/***** Latest Tweets Widget ********************/

#header .latest-tweets {
	background: url(images/twitter.png) top right no-repeat;
	margin: 20px 0 0 0;
	padding: 0;
	}
	
#sidebar .latest-tweets {
	background: url(images/twitter-sidebar.png) top right no-repeat;
	margin: 0 0 30px 0;
	padding: 0;
	}

/***** Calendar ********************/

#wp-calendar {
	margin: 0;
	padding: 0;
	width: 100%;
	}

#wp-calendar caption {
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding: 2px 5px 0 0;
	text-align: right;
	}

#wp-calendar th {
	color: #333333;
	}

#wp-calendar thead {
	margin: 10px 0 0 0;
	font-weight: bold;
	background: #F7F7F7 !important;
	color: #F7F7F7 !important;
	}

#wp-calendar td {
	background: #F7F7F7;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 2px;
	}

#wp-calendar tfoot td {
	background: none;
	margin: 0;
	padding: 0;
	}
	
/***** Contact Form ********************/
	
.gform_footer .button {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 1px 5px 1px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
.gform_footer .button:hover {
	background: #993366;
	border: 1px solid #993366;
	}
	
.gform_footer input.button {
	color: #FFFFFF !important;
	}
	
.gform_wrapper .gform_footer {
	border: none!important;
	}

/***** Footer ********************/

#footer {
	clear: both; 
	overflow: hidden;
	background: url(images/footer.png);	
	color: #FFFFFF;
	font-family: Georgia, Times New Roman, Trebuchet MS;	
	font-size: 12px;
	margin: 0 auto 0;
	padding: 15px 0 15px 0;
	}

#footer .wrap {
	width: 960px;
	margin: 0 auto 0;
	}
	
#footer a, #footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
	}
	
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
#footer p {
	margin: 0;
	padding: 0;
	}

#footer .gototop {
	width: 200px;
	float: left;
	margin: 0;
	padding: 0 0 0 5px;
	}
	
#footer .gototop a {
	margin: 0;
	padding: 0 0 2px 18px;
	background: url(images/footer-top.png) no-repeat left center;
	}
	
#footer .creds {
	width: 740px;
	float: right;
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
	}

/***** Comments ********************/

.comments {
	font-size: 12px;
	margin: 0 0 15px 0;
	padding: 0;
	}

#author, #email, #url {
	background: #F7F7F7 !important;
	width: 250px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	padding: 3px 0 3px 3px;
	margin: 5px 5px 0 0;
	border: 1px solid #E6E6E6;
	}
	
#comment {
	background: #F7F7F7 !important;
	width: 98%;
	height: 150px;
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	padding: 3px 0 3px 3px;
	margin: 5px 0 5px 0;
	border: 1px solid #E6E6E6;
	}
	
#submit {
	background: #333333;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
    margin: 0;
	padding: 2px 5px 2px 5px;
	border: 1px solid #333333;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
#submit:hover {
	background: #993366;
	border: 1px solid #993366;
	}
	
.comment-list {
	margin: 0;
	padding: 0;
	}
	
.ping-list {
	margin: 0 0 40px 0;
	padding: 0;
	}
	
.comment-list ol, .ping-list ol {
	margin: 0;
	padding: 10px;
	}

.comment-list li, .ping-list li {
	font-weight: bold;
	margin: 15px 0 5px 0;
	padding: 10px 5px 10px 10px;
	list-style: none;
	}
	
.comment-list li ul li { 
	margin-right: -6px;
	margin-left: 10px;
	}

.comment-list p, .ping-list p {
	font-weight: normal;
	text-transform: none;
	margin: 10px 5px 10px 0;
	padding: 0;
	}

.comment-list li .avatar { 
	background: #FFFFFF;
	float: right;
	border: 1px solid #E6E6E6;
	margin: 0 5px 0 10px;
	padding: 4px;
	}

.comment-list cite, .comment-list cite a, .ping-list cite, .ping-list cite a {
	font-weight: bold;
	font-style: normal;
	}

.commentmetadata {
	font-size: 11px;
	font-weight: normal;
	}

#respond:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
	
.alt {
	margin: 0;
	padding: 10px;
	}
	
.children { 
	margin: 0;
	padding: 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}
	
.reply a, .reply a:visited {
	background: #333333;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
	padding: 2px 5px 3px 5px;
	border: 1px solid #333333;
	}
	
.reply a:hover {
	background: #993366;
	text-decoration: none;
	border: 1px solid #993366;
	}

#comments .navigation {
	display: block;
	margin: 10px 0 40px 0;
	}

.thread-alt, .thread-even {
	background: #F7F7F7;
	margin: 0;
	padding: 0;
	}

.depth-1 {
	border: 1px solid #E6E6E6;
	margin: 0;
	padding: 0;
	}

.even, .alt {
	border: 1px solid #E6E6E6;
	margin: 0;
	padding: 0;
	}